@media only screen and (max-width: 768px) {
    .container {
        width: 80%;
    }

    /* header container */
    .header-container {
        padding: 0 0 30px 0;
        margin: 20px 15px;
    }

    .header-title {
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
    }

    .header-title h1 {
        margin: 0;
        padding: 0;
        font-size: 36px;
        font-weight: 700;
    }

    .header-title a {
        margin-left: 20px;
    }

    .header-imageg img {
        width: 330px;
        height: 260px;
    }

    /* menu item */
    nav ul {
        position: fixed;
        top: 80px;
        left: 100%;
        background: #2d25a0;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: .5s all ease;
    }

    #click:checked~ul {
        left: 0;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul li {
        margin: 40px 0;
    }

    nav ul li a {
        font-size: 25px;
        display: block;
    }

    nav ul li a:hover,
    nav ul li a.active {
        color: cyan;
        background: none;
    }

    nav .menu-btn i {
        display: block;
    }


    /* header container */
    .header-container {
        display: flex;
        flex-direction: column;
    }

    .header-title {
        padding: 40px 20px;
    }

    .header-container h1 {
        font-size: 50px;
        margin: 15px 0;
        padding: 40px 20px;
    }

    .header-banner img {
        width: 300px;
        padding: 40px 10px;

    }

    /* player css start */

    .players {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
        margin-top: 1.5em;
    }

    .player-id {
        width: 330px;
        height: 476px;
        padding: 10px 0;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        overflow: hidden;
    }

    .players-id img {
        width: 300px;
        height: 256px;
    }

    .players-id h2 {
        font-size: 28px;
        padding: 5px 0;
    }

    .players-id p {
        font-size: 16px;
        font-weight: 300;
    }

    /* player css end */
    /* article css start */

    article {
        display: flex;
        flex-direction: column;
    }

    /* article css end */
    /* heilighit css start*/

    .heilight {
        padding: 10px 30px;
        margin-bottom: 18px;
    }

    .hiligh-img img {
        width: 300px;
        padding: 40px;
    }

    .heilight h1 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 15px;
        padding: 0 0 0 0;
        margin-right: 0;
    }

    .heilight p {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 30px;
        padding-bottom: 20px;
    }

    .heilight a {
        background: #E02C6D;
        padding: 5px 10px;
        transition: .5s all;
    }

    .heilight a:hover {
        background: #1e1e1e;
    }

    .hilight-img img {
        width: 328px;
        height: 248px;
    }

    /* heilight css end*/
    /* footer css start */



    .footer-logo img {
        width: 250px;
        height: 110px;
    }

    .socal-icon .socal {
        color: ##1b1b1b;
        text-align: center;
    }

    .copyright p {
        text-align: center;
    }

    /* footer css end */
}