@media only screen and (max-width: 480px) {
    .container {
        width: 100%;
    }

    .players {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        margin-top: 1.5em;
    }

    .player-id {
        width: 330px;
        height: 400px;
        padding: 10px;
        box-shadow: 10px 5px 25px #1e1e1e;
    }

    .players-id img {
        width: 400px;
        height: 370px;
        margin: 0 40px 0;
    }

    .players-id h2 {
        font-size: 30px;
        padding: 20px 40px;
    }

    .players-id p {
        font-size: 14px;
        font-weight: 300;
        padding: 15px 40px;
    }

    article {
        display: flex;
        flex-direction: column;
    }

    .heilight {
        padding: 10px 30px;
        margin-bottom: 18px;
    }

    .hiligh-img img {
        width: 450px;
        padding: 40px;
    }

    .heilight h1 {
        font-size: 38px;
        font-weight: 800;
        margin-bottom: 15px;
    }

    .heilight p {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 30px;
        padding-bottom: 20px;
    }

    .heilight a {
        background: #E02C6D;
        padding: 5px 10px;
        transition: .5s all;
    }

    .heilight a:hover {
        background: #1e1e1e;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
    }

    .copyright p {
        text-align: center;
    }
}